{% extends 'blog/blog.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.heading }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.content }}</li>
                        <li>{{ object.date_creation }}</li>
                        {% if object.sign_of_publication %}
                        <li>Опубликовано</li>
                        {% else %}
                        <li>Не опубликовано</li>
                        {% endif %}
                        <li>Просмотры: {{ object.number_of_views }}</li>
                    </ul>
                    <button type="submit" class="btn btn-success">Удалить</button>
                    <a class="p-2 btn btn-outline-primary" href="/blog/list/">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}